.title {
  text-align: center;
}
.board {
  width: 800px;
  height: 600px;
  background-color: darkolivegreen;
  margin: 0 auto;
}
body {
  background-color: powderblue;
}
.button {
  width: 5%;
  height: 5%;
  padding: 8px 16px;
  display: block;
  border-radius: 5px;
  background-color: orange;
  margin: 0 auto;
  cursor: pointer;
}
